/* ----------------------------------Style.css --------------------------*/
/* header-toptop*/
.header-top {
    display: flex;
    justify-content: flex-end; 
    padding: 3px 5px; 
  }
  
  .header-top ul {
    list-style: none; 
    display: flex;
    gap: 15px; 
    margin: 0;
    padding: 0;
    opacity: 0.4;
  }
  
  .header-top ul li a {
    text-decoration: none; 
    color: black;
  }
  /* Navbar */
.navbar .input-search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:350px;
}
.navbar .btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.navbar .input-search:focus {
    outline: none; 
    border-right: none; 
    box-shadow: none;
}
/* Sản phẩm nổi bật */
.card-body {
    padding-bottom: 0; 
}

.card-body h5 {
    margin-bottom: 0.5rem; 
}

.list-group-item {
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem; 
}
.card-body h5 {
    white-space: nowrap;        
    overflow: hidden;           
    text-overflow: ellipsis;    
    width: 100%;                
}
.card img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 10px; 
    object-position: center; 
}
/* ------------------------------------------Phân trang--------------------- */
/* Màu mặc định cho các nút phân trang */
.pagination .page-link {
    color: #28a745; 
  }
  .pagination .page-link i {
    color: #28a745; 
  }
  
  /* Hover: Đổi màu nền và màu chữ */
  .pagination .page-link:hover {
    color: white; 
    background-color: #28a745; 
  }
  
  /* Hover: Đổi màu icon Previous và Next */
  .pagination .page-link:hover .pre,
  .pagination .page-link:hover .next {
    color: white; 
  }
  
  /* Active trạng thái của trang hiện tại */
  .pagination .page-item.active .page-link {
    color: white; 
    background-color: #28a745; 
  }
  
  /*Chỉnh kích thước các nút */
  .pagination .page-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
  }