.table-responsive {
    max-height: 435px;
    overflow-y: auto;   
}

/* Ẩn thanh cuộn dọc */
.table-responsive::-webkit-scrollbar {
    display: none;  
}
thead {
    position: sticky;
    top: 0;
    background-color: #ffffff; 
    z-index: 1; 
  }
