.table-responsive {
    max-height: 435px;
    overflow-y: auto;   
}

/* Ẩn thanh cuộn dọc */
.table-responsive::-webkit-scrollbar {
    display: none;  
}
thead {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Đặt nền trắng để không bị che */
    z-index: 1; /* Đảm bảo nằm trên nội dung của tbody */
  }
