.avatar-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ddd;
    
}

.avatar-upload-btn {
    margin-top: 10px;
    display: block; 
}
.avatar-label:hover {
    cursor: pointer;
}