.progress-container {
    position: relative;
    margin: 30px auto;
    width: 80%;
  }

  .step-circle {
    position: absolute;
    top: -11px;
    width: 24px;
    height: 24px;
    background-color: #ddd;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #666;
    font-weight: bold;
  }

  .step-circle.active {
    background-color: #198754;
    color: #fff;
  }

  .step-label {
    position: absolute;
    top: 25px;
    font-size: 0.9rem;
    color: #666;
    text-align: center;
    width: 80px;
    transform: translateX(-50%);
  }

  .step-label.active {
    color: #198754;
  }